<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="alien1" class="org.example.Alien" autowire="byType" >
        <property name="age" value="21" ></property>
<!--        <property name="com" ref="com1"></property>-->
    </bean>

    <bean id="com" class="org.example.laptop" primary="true"></bean>
    <bean id="com1" class="org.example.Desktop" primary="false"></bean>
</beans>
